<%= form_for(@job) do |f| %>
 <%= flash[:error] %>
 <div class='form_field'>
   <%= f.label :title %>
   <%= f.text_field :title, size: 50 %>
 </div>
 <div class='form_field'>
 <%= f.label :location %>
 <%= f.text_field :location, size: 50 %>
 </div>
 <div class='form_field'>
 <%= f.label :category %>
 <%= f.text_field :category, size: 50 %>
 </div>
 <div class='form_field'>
 <%= f.label :company %>
 <%= f.text_field :company, size: 50 %>
 </div>
 <div class='form_field'>
 <%= f.label :description %>
 <%= f.text_area :description, cols: 50, rows: 4 %>  
 </div>
 <%= f.submit 'Criar Vaga' %>
<% end %>
